@import url(http://fonts.googleapis.com/css?family=Capriola);

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-family: 'Capriola', sans-serif;
}

#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: '';
    display: table;
}

#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}

#cssmenu {
    padding-top: 1em;
    background: url(../images/bottom-bg.png) repeat-x center bottom;
    border-radius: 2px;
}

#cssmenu ul {
    background: url(../images/nav-bg.png) repeat-x 0 4px;
    height: 69px;
}

#cssmenu ul li {
    float: left;
    list-style: none;
}

#cssmenu ul li a {
    display: block;
    height: 37px;
    padding: 22px 30px 0;
    margin: 4px 2px 0;
    border-radius: 2px 2px 0 0;
    text-decoration: none;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
    font-weight: 400;
    opacity: 1;
}

#cssmenu > ul > li:first-child > a {
    margin: 4px 2px 0 0;
}

#cssmenu ul li a.active,
#cssmenu > ul > li > a:hover {
    background: url(../images/color.png), center, bottom;
    display: block;
    /*height: 37px;*/
    margin-top: 0;
    padding-top: 26px;
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}

#cssmenu ul ul {
    display: none;
    position: absolute;
    margin-left: 2px;
}

#cssmenu ul li:hover ul {
    display: block;
    background: url(../images/nav-bg.png) repeat-x 0 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#cssmenu ul li ul li:hover {
    background: url(../images/color.png) center bottom;
    height: 59px;
    opacity: 1;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#cssmenu ul li ul li a {
    margin: 0;
}

#cssmenu ul li ul li:hover a {
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
}
