div.domtab {
	font-size: 90%;
}

ul.domtabs {
    list-style: none;
    margin: 0;
    padding: 0;
	float: left;
	width: 100%;		
}

ul.domtabs li {
	float: left;
	padding: 0 .5em 0 0;
}

ul.domtabs a:link,
ul.domtabs a:visited,
ul.domtabs a:active,
ul.domtabs a:hover {
	width: 8em;
	padding-top: 1em;
    padding-left: .5em;
    padding-right: .5em;
	display: block;
	background: #666;
	color: #ccc;
	height: 3em;
	font-weight: bold;
	text-decoration: none;
    text-align: center;
}

html > body ul.domtabs a:link,
html > body ul.domtabs a:visited,
html > body ul.domtabs a:active,
html > body ul.domtabs a:hover {
	height: auto;
	min-height: 3em;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

ul.domtabs a:hover {
	background: #BF2525;
}

div.domtab div {
	clear: both;
	width: auto;
	background: #BF2525;
	color: #ccc;
	padding: 2em;
}

ul.domtabs li.active a:link,
ul.domtabs li.active a:visited,
ul.domtabs li.active a:active,
ul.domtabs li.active a:hover {
	background: #BF2525;
	color: #ccc;
}

#domtabprintview {
	float: right;
	padding-right: 1em;
	text-align: right;
}

#domtabprintview a:link,
#domtabprintview a:visited,
#domtabprintview a:active,
#domtabprintview a:hover {
	color: #ccc;
}

pre {
	font-size: 1.2em;
	padding: 1em;
}

div.domtab div a:link,
div.domtab div a:visited,
div.domtab div a:active {
	color: #ccc;
	display: block;
}

div.domtab div h2 a,
div.domtab div h2 a:hover,
div.domtab div h2 a:active {
	display: inline;
	padding: 0;
	font-weight: normal;
	font-size: 1em;
}