﻿footer {
    height: 60px;
    background: url(../images/color.png) repeat-x center bottom;
    border-radius: 2px;
    margin-top: 1em;
    margin-bottom: 1em;
    /*Makes the footer sit under the rest of the content*/
    /*position: relative;
    top: 1.5em;*/
    /*bottom: auto;
    position: relative;*/
    /*Makes the footer always sit at the bottom of the screen*/
    /*width: 75%;
    bottom: 1em;
    position: fixed;*/
}

@media screen and (min-height: 600px) {
    footer.smallerPage {
        width: 75%;
        bottom: 1em;
        position: fixed;
        margin-bottom: 0;
    }
}

footer p {
    font-family: 'Capriola', sans-serif;
    padding-left: 1em;
    float: left;
    color: white;
    line-height: 60px;
}

footer img {
    /*padding-top: .25em;
    padding-right: .4em;
    padding-bottom: .4em;
    margin-right: auto;*/
    /*margin-top: .15em;*/
    margin-right: 1em;
    float: right;
    width: 60px;
    height: 60px;
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}

footer #changeCSS {
    position: relative;
    right: 1em;
    float: right;
}