.spinner {
    height: 350px;
    width: 350px;
    margin: auto;
    position: relative;
    -webkit-animation: rotation 1.5s infinite linear;
    -moz-animation: rotation 1.5s infinite linear;
    -o-animation: rotation 1.5s infinite linear;
    animation: rotation 1.5s infinite linear;
    border-left: 40px solid rgba(0,174,239,.15);
    border-right: 40px solid rgba(0,174,239,.15);
    border-bottom: 40px solid rgba(0,174,239,.15);
    border-top: 40px solid rgba(0,174,239,.8);
    border-radius: 100%;
}

@-webkit-keyframes rotation {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes rotation {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-o-keyframes rotation {
    from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}

@keyframes rotation {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg); }
}