@import url("cssmenu.css");

*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

html {

}

body {
    width: 90%;
    margin: auto;
	font-family: Verdana, Arial, Sans-Serif;
	background: #333;
	color: #ccc;
}

#wrapper {

}

#content {
    font-size: 1.5em;
}

#content > ul > li {
    padding-bottom: 1em;
}

#content > ul > li a:link,
#content > ul > li a:active,
#content > ul > li a:visited {
    font-family: Verdana, Arial, Sans-Serif;
	background: #333;
	color: #ccc;
}

#content > ul > li a:hover {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
}

#columns img {
    display: none;
}

#credits {
    color: #ccc;
}

form {
    margin-bottom: 1em;
}

input {
	margin-bottom: 1em;
	padding: .25em;
}

table {
    margin-bottom: 1em;
}

tr,
th,
td {
    margin: 6px;
    padding: .25em;
    border: 2px solid #ccc;
}

footer {
    height: 60px;
    background: url(../images/color.png) repeat-x center bottom;
    border-radius: 2px;
    margin-top: 1em;
}

footer.smallerPage {
    width: 90%;
    bottom: 1em;
    position: fixed;
}

footer p {
    font-family: 'Capriola', sans-serif;
    padding-left: 1em;
    float: left;
    color: white;
    line-height: 60px;
}

footer img {
    margin-right: 1em;
    float: right;
    width: 60px;
    height: 60px;
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}

footer #changeCSS {
    position: relative;
    right: 1em;
    float: right;
}