@import url("cssmenu.css");
@import url("footer.css");
@import url("webkitscrollbar.css");

*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
}

html {
    height: 100%;
    scrollbar-arrow-color: #A90000;
    scrollbar-base-color: #A90000;
    scrollbar-track-color: #333;
}

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
	font-family: Verdana, Arial, Sans-Serif;
	background: #333;
	color: #ccc;
}

h1,
h2,
h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}

#columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#credits {
    text-align: right;
}

#webdevList h2 {
    margin-top: 1em;
    margin-bottom: .5em;
}

#webdevList ul li {
    padding-bottom: 1em;
}

#webdevList ul li a:link,
#webdevList ul li a:active,
#webdevList ul li a:visited,
#credits a:link,
#credits a:active,
#credits a:visited {
	color: #ccc;
}

#webdevList ul li a:hover/*,
#credits a:hover*/ {
    text-decoration: none;
}

form {
    margin-bottom: 1em;
}

input {
	margin-bottom: 1em;
	padding: .25em;
}

table {
    margin-bottom: 1em;
}

tr,
th,
td {
    margin: 6px;
    padding: .25em;
    border: 2px solid #ccc;
}