@import url("webkitscrollbar.css");

@font-face {
    font-family: Exo;
    src: url(../fonts/Exo-Regular.otf);
}

body {
    font-family: 'Roboto', sans-serif;
    /*width: 75%;*/
    margin: 0 auto;
    background: #333;
	color: #ccc;
}

nav {
    display: table;
    width: 100%;
    background-color: black;
    border-bottom: 5px solid #bf2525;
    font-family: Exo;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    display: inline-block;
    margin: .8em 0;
    padding: 0;
}

nav ul ul {
    display: none;
    position: absolute;
    line-height: 0;
    margin: 0;
    margin-left: -18px;
    padding: 0 1em;
    background-color: black;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
    padding: .5em 1em;
}

nav li {
    padding: .5em 1em;
    float: left;
    text-align: center;
}

nav li li {
    padding: 1.25em 0;
    float: none;
    /*width: 12em;*/
    text-align: left;
}

nav a:hover,
nav .active {
    color: #bf2525;
}

main {
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    /*font-family: 'Digital Desolation';*/
}

main p {
    margin-top: 0;
}

#columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

#credits {
    text-align: right;
}

#webdevList h2 {
    margin-top: 1.5em;
}

#webdevList ul {
    list-style: none;
    padding: 0;
}

#webdevList ul li {
    margin-bottom: 1em;
}

#webdevList ul li a:link,
#webdevList ul li a:active,
#webdevList ul li a:visited,
#credits a:link,
#credits a:active,
#credits a:visited {
	color: #ccc;
}

#webdevList ul li a:hover/*,
#credits a:hover*/ {
    text-decoration: none;
}

footer {
    height: 68px;
    margin-top: 2em;
    background-color: #bf2525;
}

footer.smallerPage {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    float: left;
    line-height: 68px;
    margin: 0;
    padding-left: 1em;
    color: white;
}

footer img {
    width: 68px;
    float: right;
    margin-right: 1em;   
}

footer #email {
    width: 68px;
    height: 68px;
    float: right;
    margin-right: 1em;
    background-image: url(../images/email.png);
    background-size: 68px;
    background-repeat: no-repeat;
}

footer a:hover #email {
    background-image: url(../images/emailInvert.png);
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}

footer #changeCSS {
    position: relative;
    right: 1em;
    float: right;
}