<script>
        $(document).ready(function () {
            currentPage = window.location.href;
            currentPage = currentPage.replace("http://" + window.location.hostname + "/", "");

            if (currentPage == "") {
                currentPage = "index.html";
            }

            $.each($("ul li a"), function (index, value) {
                if ($(this).parent().is("div")) {
                    console.log($(this).parent().html());
                    console.log($(this).parent().children().html());
                    console.log($(this).html());
                    console.log(currentPage);
                }
                if ($(this).attr("href") == currentPage) {
                    $(this).addClass("active");
                }
            });
        });
</script>

<ul>
    <li>
        <div>
            <a href="index.html">Dakota Reid</a>
        </div>
    </li>
    <li>
        <div>
            <a href="hobbies.html">Hobbies</a>
            <ul>
                <li><a href="hobbies.html#photography">Photography</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div>
            <a href="projects.html">Projects</a>
            <ul>
                <li><a href="projects.html#cpp">C++</a></li>
                <li><a href="projects.html#java">Java</a></li>
                <li><a href="projects.html#javascript">JavaScript</a></li>
            </ul>
        </div>
    </li>
    <li>
        <div>
            <a href="webdev.html">Web Development</a>
            <ul>
                <li><a href="wdv101.html">WDV 101</a></li>
                <li><a href="wdv341.html">WDV 341</a></li>
                <li><a href="wdv221.html">WDV 221</a></li>
                <li><a href="wdv245/">WDV 245</a></li>
                <li><a href="wdv321/">WDV 321</a></li>
                <li><a href="wdv205/">WDV 205</a></li>
            </ul>
        </div>
    </li>
</ul>