﻿body {
    font-family: 'Arial';
    font-size: 1.3em;
    background-color: lavender;
    color: black;
    margin-left: 12em;
    margin-right: 12em;
}

.center {
    text-align: center;
}

p {
    line-height: 1.4em;
}

.spreadhandling {
    letter-spacing: 6px;
    word-spacing: 6px;
}

p.listhandling {
    font-style: italic;
    color: navy;
}

p.contact {
    font-size: 1.2em;
    color: navy;
}

ul li {
    font-size: 1.2em;
    color: navy;
    list-style-image: url(images/diamond.gif);
}

strong {
    color: #808000;
}

h1 {
    text-decoration: underline overline;
}

h2,
h4 {
    text-align: center;
    color: navy;
}

a:link {
    text-decoration: none;
    color: slategray;
}

a:hover {
    color: lavender;
    background-color: navy;
    text-decoration: underline;
}