﻿/* standard footer styles */

footer {
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    margin-top: 1em;
    text-align: center;
    color: white;
    background-color: gray;
    padding: 10px;
}

footer a:link,
footer a:visited {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: white;
    background-color: black;
}

footer a:hover {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    color: black;
    background-color: white;
}

footer p {
    text-indent: 0;
}

footer h4 {
    margin-bottom: 1em;
}