﻿@import url("footer.css");

/*720 x 1280 px*/

* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
    height: auto;
    max-width: 720px;
    max-height: 1280px;
    margin: 1em auto;
    font-size: 1em;
    font-family: Georgia;
}

#container {
    border: 5px solid; /*Increased the size of the border so it would actually be seen on mobile devices.*/
    background-color: #f3f6e9;
    margin-bottom: 1em;
}

#left,
#right {
    padding: 10px;
}

#middle {
    padding: 10px;
    border-top: solid teal 5px;
    border-bottom: solid teal 5px;
}

h1 {
    padding: 10px;
    color: white;
    background: black; /*Changed the image to just a black background because the image was too small to see any detail.*/
    text-align: center;
}

h2 {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: navy;
    text-align: center;
}

p {
    text-indent: 1em;
    padding: 6px 0; /*Added a small padding so that the text would be easier to read.*/
}