﻿@import url("footer.css");

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
    font-family: Georgia;
    margin-top: 1em;
}

#container {
    width: 960px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    background-color: #f3f6e9;
}

header {
    width: 960px;
}

#left {
    width: 298px;
    padding: 10px;
    float: left;
}

#middle {
    width: 298px;
    padding: 10px;
    border-left: solid teal 3px;
    border-right: solid teal 3px;
    float: left;
}

#right {
    width: 298px;
    padding: 10px;
    float: left;
}

h1 {
    padding: 10px;
    color: white;
    background: url(images/blacktexture.jpg) teal;
    text-align: center;
}

h2 {
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: navy;
    text-align: center;
}

p {
    text-indent: 1em;
}