﻿html {
    background-image: url("pics/Garden-Bridges.jpg");
    background-attachment: fixed;
    background-size: cover;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F6E497;
    margin: 16px 10%;
    padding: 16px;
    border-radius: 5px;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.5);
}

a:link,
a:visited {
    color: red;
}

a:active {
    color: darkgreen;
}

a:hover {
    text-decoration: none;
}

header h1 {
    text-align: center;
    background-color: #BD8D46;
    border-radius: 5px;
}

nav {
    text-align: center;
    margin-bottom: 32px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline;
}

ul li {
    padding-bottom: 16px;
}

footer {
    margin-top: 32px;
    background-color: #BD8D46;
    border-radius: 5px;
    border-color: #BD8D46;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.center {
    text-align: center;
}

#backToTop {
    right: 9px;
    bottom: 0;
    position: fixed;
    background-color: #BD8D46;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
}