a {
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
a:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.bold, .strong {
  font-weight: bold;
}
.red {
  color: red;
}
#redPar {
  color: red;
}
.main_color {
  color: #a40031;
}
.secondary_color {
  color: #e98c64;
}
.third_color {
  color: #979c35;
}
