﻿@main_color: #a40031;
@secondary_color: #e98c64;
@third_color: #979c35;

.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}

.opacity(@opacity) {
	opacity: @opacity / 100;
	filter: ~"alpha(opacity=@{opacity})";
}

a {
	.transition(all 0.4s);
	&:hover {
  		.opacity(70);
  	}
}

@bold: ~".bold, .strong";

@{bold} {
	font-weight: bold;
}

.red {
	color: red;	
}

#redPar {
	.red;	
}

.main_color {
	color: @main_color;	
}

.secondary_color {
	color: @secondary_color;	
}

.third_color {
	color: @third_color;	
}