﻿* {
    margin: 0;
    padding: 0;
}

html {
    
}

body {
    /*cursor: url(../images/cursor.ico), auto;*/
    font: 12pt Verdana;
    background-color: #fbf7e4;
}

#container {
    position: relative;
    top: 56px;
    width: 80%;
    margin: 0 auto;
    padding: 1em 0;
}

header {
    height: 110px;
    background-color: #333;
}

nav ul {
    position: absolute;
    width: 88.9%;
    display: flex;
    left: 10%;
    list-style: none;
}

nav li {
    display: inline-flex;
    color: white;
}

.logo {
    width: 400px;
    display: block;
    margin: 0 auto;
}

.logo a {
    padding: 0;
    background: none;
}

nav {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 66px;
    margin: 0 auto;
    background-color: #333;
    z-index: 1;
}

nav a:hover,
nav .active {
    background-color: #a90000;
}

nav a {
    height: 18px;
    padding: 1.5em;
    text-decoration: none;
    color: white;
}

.pipe {
    width: 2px;
    height: 66px;
    position: absolute;
    display: none;
}

#login {
    position: absolute;
    right: 10%;
    height: 66px;
}

#loginForm {
    display: none;
    position: absolute;
    width: 180px;
    top: 166px;
    right: 10%;
    padding: 1em;
    color: white;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(51, 51, 51, 1) 100%);
    background-color: #a90000;
    z-index: 1;
}

input {
	margin-bottom: 1em;
	padding: .25em;
}

main {

}

main h1 {
    margin-bottom: 12px;
}

.center {
    text-align: center;
}

main p {
    margin-bottom: 1em;
}

#container a,
#container a:visited {
    color: black;
}

#container a:hover {
    text-decoration: none;
}

form[name="postForm"] {
    display: table;
}

.return {
    clear: both;
    display: block;
    margin-bottom: 1em;
}

#postContainer,
#requestContainer {
	width: 100%;
	top: 0;
	margin: 0 auto;
}

.post {
	margin-bottom: 1em;
    border: 2px solid;
    padding: .25em;
}

.post a {
	float: right;
	margin-right: 1em;
}

.post span {
	margin-bottom: .25em;
}

footer {
    position: relative;
    margin-top: 2.5em;
    padding: 1.5em;
    background-color: #333;
    color: white;
    clear: both;
    z-index: 1;
}

::selection {
    color: white; 
    background: #333;
}