﻿body {
    font-family: 'Roboto', sans-serif;
    /*width: 75%;*/
    margin: 0 auto;
    background: #333;
    color: #ccc;
}

.navbar {
    border-radius: 0;
}

main {
    width: 90%;
    margin: 0 auto;
}

main p {
    margin-top: 0;
}

#columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
}

footer {
    height: 68px;
    margin-top: 2em;
    background-color: #bf2525;
}

footer.smallerPage {
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    float: left;
    line-height: 68px;
    margin: 0;
    padding-left: 1em;
    color: white;
}

footer img {
    width: 68px;
    float: right;
    margin-right: 1em;
}

footer #email {
    width: 68px;
    height: 68px;
    float: right;
    margin-right: 1em;
    background-image: url(../../../images/email.png);
    background-size: 68px;
    background-repeat: no-repeat;
}

footer a:hover #email {
    background-image: url(../../../images/emailInvert.png);
}

footer a:link,
footer a:active,
footer a:visited {
    text-decoration: none;
    color: white;
}

footer a:hover {
    cursor: pointer;
    color: #600000;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.35);
    opacity: 1;
}

footer #changeCSS {
    position: relative;
    right: 1em;
    float: right;
}