﻿body {
    background-image: url(images/First_View_of_Earth_from_Moon-Fix.jpg);
    background-attachment: fixed;
    margin-left: 8em;
    margin-right: 8em;
    border: .5em white ridge;
    padding-left: 1em;
    padding-right: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

img {
    float: right;
}

h1 {
    background-color: white;
    color: black;
    text-align: center;
    padding: .5em;
}

h2 {
    padding-top: .5em;
}

hr {
    color: white;
}

.clear {
    clear: both;
}