body {
    background-color: #43201e;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 90%;
    border-width: 1px;
    margin: 0 auto;
}

header {
    margin-bottom: 0;
    background-color: #354660;
}

#info {
    width: 25%;
    padding: 1em;
    background-color: #c9c3b5;
    float: left;
    margin-bottom: 10px;
}

#info h3 {
    text-align: center;
    text-transform: uppercase;
}

#order {
    width: 70%;
    float: right;
}

footer {
    margin-top: 1em;
    border-top: solid thin black;
    border-bottom: solid thick black;
    clear: both;
    font-weight: bold;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}

img.vertical {
    vertical-align: middle;
}

form {
    margin-bottom: 1em;
    padding: .5em;
    background-color: #c9c3b5;
}

/*Not sure what I am supposed to put here, the book doesn't say.*/
form #something {
    margin: 0;
    padding: .5em;
    clear: both;
}

label {
    width: 180px;
    margin: 0 15px 0 4px;
    color: black;
    float: left;
    text-align: right;
}

legend {
    padding: 0 10px;
    color: #354660;
    font-weight: bold;
}

fieldset {
    width: 80%;
    margin: 1em;
    border: solid 5px #354660;
    padding: .5em;
    background-color: #e9edda;
}

input {
    display: block;
}

input.button {
    margin-top: 5em;
    border: solid thin black;
    background-color: yellow;
    font-weight: bold;
    display: inline;
}

table {
    width: 100%;
    margin: 0 auto;
    border: solid 5px #354660;
    background-color: #e9edda;
}

td,
tr,
th {
    border: solid 2px #354660;
}