﻿@page {
    size: letter;
    margin: .5in;
}

header,
nav,
img {
    display: none;
}

body {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;
    line-height: 120%;
}

a {
    text-decoration: underline;
    color: blue;
}