﻿body {
    font-family: 'Verdana';
    background-color: #c0e59b;
}

h1 {
    text-align: center;
}

h2,
h3 {
    color: navy;
}

h3 {
    font-weight: bold;
}

p {
    text-indent: 5em;
    line-height: 1.5em;
}

h4 {
    text-transform: uppercase;
    font-style: italic;
    color: maroon;
}