﻿body {
    font-family: 'Verdana';
    font-size: 1.1em;
    color: black;
    background-color: wheat;
    margin-left: 6em;
    margin-right: 6em;
}

.center {
    text-align: center;
}

p.opening {
    text-indent: 6em;
    color: maroon;
}

h2,
h3,
h4 {
    font-style: italic;
}

h3,
h4 {
    text-indent: 6em;
}

a:link {
    font-size: 1.4em;
    color: black;
}

a:hover {
    color: wheat;
    background: black;
}