﻿body {
    font-family: 'Arial';
    font-size: 1.2em;
    background-color: #e6e6fa;
}

em {
    font-weight: bold;
    color: green;
}

h3 {
    font-family:'Times New Roman';
    text-transform: uppercase;
    color:maroon;
    text-align: right;
}