<!DOCTYPE HTML>
<html>
<head>
	<title>Date Format</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<body ng-app="">
	<span>{{1447183329 | date:'medium'}}</span>
</body>
</html>