<!DOCTYPE HTML>
<html>
<head>
	<title>Angular Examples</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>

    <script>
        var app = angular.module("json", []);

        app.controller("get_json", function ($scope, $http) {
            $http.get("data.JSON")
                .success(function (response) {
                    $scope.data = response.data;
                });
        });
    </script>
</head>

<body ng-app="json">
    <div ng-controller="get_json">
    	<h2>Data from data.JSON:</h2>
        
        <ul ng-repeat="x in data">
            <li>Object Name: {{ x.Name }}</li>
            <ul>
            	<li>Description: {{ x.Desc }}</li>
                <li>Value: {{ x.Value }}</li>
            </ul>
        </ul>
    </div>
    
    <p><a href="http://www.w3schools.com/angular/angular_http.asp" target="_blank">W3Schools Example</a></p>
    
    <!--<div ng-include="'intro_examples.html'"></div>-->
</body>
</html>