<!DOCTYPE HTML>
<html>
<head>
	<title>Angular Examples</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
</head>

<body>
	<div ng-app="">
        <input type="text" ng-model="name" />
        <p>{{name}}</p>
	</div>
</body>
</html>