﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>About</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
    
    <script>
		var cookie_count = angular.module('cookie_count', ['ngCookies']);
		 
		cookie_count.controller('cookie_controller', ['$scope', '$cookies', function ($scope, $cookies) {
		    if (!$cookies.get("auth")) {
		        window.location = "index.html";
		    }

		    if ($cookies.get("visit_count")) {
		        var visit_count = $cookies.get("visit_count");

		        $scope.visit_count = visit_count;
		    }

		    if ($cookies.get("history")) {
		        $scope.history = $cookies.get("history");
		    } else {
		        $cookies.put("history", document.referrer);
				$scope.history = document.referrer;
		    }
			
			$scope.clear_cookies = function() {				
				angular.forEach($cookies.getAll(), function(value, key) {
					$cookies.remove(key);
				});
		    }
			
			console.log($cookies.getAll());
		}]);
	</script>
</head>

<body>
    <nav>
        <a href="index.html">Home</a>
        |
        <a href="about.html">About</a>
    </nav>

	<div ng-app="cookie_count" ng-controller="cookie_controller">
    	<p>You have viewed the Homepage {{ visit_count }} time(s).</p>

        <p>The page you last visited was: <a href="{{ history }}">{{ history }}</a></p>

		<form method="GET" action="index.html">
        	<input type="submit" ng-click="clear_cookies()" value="Clear Cookies" />
    	</form>
    </div>
</body>
</html>
