<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <title>AngularJS Cookies Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
	
    <script>
		var myApp = angular.module('myApp', ['ngCookies']);

		myApp.controller('MyController', ['$scope','$cookies','$cookieStore','$window', function($scope,$cookies,$cookieStore,$window) {
		  $cookies.userName = "Testing";
		  $scope.platformCookie = $cookies.userName;
		  $cookieStore.put('fruit','Apple');
		  $cookieStore.put('flower','Rose');
		  $scope.myFruit= $cookieStore.get('fruit');
		}]);
	</script>
</head>

<body ng-controller="MyController">
    {{platformCookie}} {{myFruit}}
</body>

</html>