﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Home</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.min.js"></script>
    
    <script>
        //3 days   = 259200000ms
        //6 months = 15779000000ms
		var three_days = new Date();
		three_days.setDate(three_days.getDate() + 3);
		
		var six_months = new Date();
		six_months.setDate(six_months.getMonth() + 6);

		var cookie_count = angular.module('cookie_count', ['ngCookies']);
		 
		cookie_count.controller('cookie_controller', ['$scope', '$cookies', function ($scope, $cookies) {
			if ($cookies.get("visit_count")) {
				var visit_count = $cookies.get("visit_count");
				
				visit_count++;
				$cookies.put("visit_count", visit_count);
			} else {
			    $cookies.put("visit_count", 1, { "expires": three_days });
			}

			$scope.login = function() {
			    if (!$cookies.get("auth")) {
			        $cookies.put("auth", $scope.user_input, { "expires": six_months });
			    }
			}
			
			console.log($cookies.getAll());
		}]);
	</script>
</head>

<body>
    <nav>
        <a href="index.html">Home</a>
        |
        <a href="about.html">About</a>
    </nav>

	<div ng-app="cookie_count" ng-controller="cookie_controller">
        <form method="GET" action="about.html">
            <input type="text" ng-model="user_input" name="user_input" />
            <input type="submit" ng-click="login()" value="Login" />
        </form>
    </div>
</body>
</html>
