﻿#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

aside {
    width: 300px;
    float: left;
    margin-top: 1em;
    margin-right: 20px;
    margin-bottom: 10px;
    overflow: visible;
}

aside h3 {
    margin: 0;
}

aside p {
    margin: 0;
    padding: 5px;
    color: white;
    background-color: maroon;
    text-align: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lavender;
}

header {
    text-decoration: underline overline;
    text-align: center;
}

main {
    /*-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-width: auto;
    -webkit-column-width: auto;
    column-width: auto;
    clear: both;*/
    width: 580px;
    margin-top: 38px;
    margin-bottom: 1em;
    background-color: maroon;
    color: white;
    float: right;
}

main p {
    margin: 0;
    padding: 5px;
}

footer {
    background-color: maroon;
    color: white;
    margin-top: 2.5em;
    padding: .75em;
    clear: both;
}