<head>
	<link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.23.0.css" />
	<script src="//code.jquery.com/qunit/qunit-1.23.0.js"></script>
	
	<script src="//code.jquery.com/jquery-2.2.2.min.js"></script>
	
	<script>		
		$(function() {
			$("form #email").val("someemail@validdomain.com");
			
			QUnit.test("function", function(assert) {
				assert.ok(var return_false = function() { return false; }, "Passed!");
			});
		});
	</script>
</head>

<body>
	<div>
		<div id="qunit"></div>
		<div id="qunit-fixture"></div>
	</div>
	
	<br />
	
	<form method="get">
		<label for="first_name">First Name: </label>
		<input type="text" name="first_name" id="first_name" />
		
		<br />
		
		<label for="last_name">Last Name: </label>
		<input type="text" name="last_name" id="last_name" />
		
		<br />
		
		<label for="email">Email: </label>
		<input type="text" name="email" id="email" />
		
		<br />
		
		<label for="message">Message: </label>
		<textarea name="message" id="message"></textarea>
		
		<br />
		
		<input type="submit" />
	</form>
</body>