@import url(http://fonts.googleapis.com/css?family=Life+Savers);

*{
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
    z-index: 0;
}

.blue {
    color: #005072;
}

.red{
    color: #DC291E;
}

.yellow {
    color: #FFC700;
}

.blueBg {
    width: 100%;
    display: table;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #005072;
    color: white;
}

.blueBg h1,
.blueBg h2,
.blueBg h3 {
    color: #FFC700;
}

.redBg {
    width: 100%;
    display: table;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #DC291E;
    background-image: url(http://campfire.org/images/red-bg-pattern.jpg);
    color: white;
}

.redBg h1,
.redBg h2,
.redBg h3 {
    color: #FFC700;
}

.yellowBg {
    width: 100%;
    display: table;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F6BB33;
    background-image: url(http://campfire.org/images/logo-spark.png);
    background-repeat: no-repeat;
    background-position: right -120px top -110px;
}

.greyBg {
    width: 100%;
    display: table;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-image: url(http://campfire.org/images/gray-bg-pattern.jpg);
}

html {
    background-image: url(http://campfire.org/images/trees.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-x;
    background-color: #005072;
}

body {
    width: 85%;
	max-width: 1280px;
    height: 100%;
    margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: white;
    color:  #005072;
}

header {
    /*height: 80px;*/
    height: 66px;
    /*margin-bottom: 1em;*/
    padding-top: .75em;
    padding-bottom: 1em;
    background-color: white;
    border-bottom: 3px solid #005072;
    /*-moz-box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 8px 2px rgba(0, 0, 0, 0.5);*/
}

#logo {
    /*max-width: 285px;*/
    max-width: 190px;
    /*min-width: 238px;*/
    float: left;
    margin-left: .75em;
    padding-bottom: .5em;
}

nav {
    display: table;
    float: right;
    list-style: none;
    font-size: 1.1em;
    /*line-height: 4;*/
    line-height: 3;
    background-color: white;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul ul {
    display: none;
    position: absolute;
    line-height: 0;
    margin-left: -14px;
    padding: 0 1em;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
}

nav li {
    padding: .5em 1em;
    float: left;
    width: 6em;
    text-align: center;
}

nav li li {
    padding: 1em 0;
    float: none;
    width: 12em;
    text-align: left;
}

nav a:hover,
nav .active {
    color: #DC291E;
}

@media (max-width: 1140px) {
    body {
        width: 100%;
    }
}

#mobile {
    display: none;
	cursor: pointer;
}

/*Need to use to override the inline styles when window is resized*/
/*@media (min-width: 972px) {*/
@media (min-width: 973px) {
    #menu {
        display: block !important;
    }

    main {
        opacity: 1 !important;
    }
}

@media (max-width: 972px) {
    #mobileMenu {
        display: block;
    }

    #mobile {
        display: block;
    }

    #mobileMenu li {
        float: none;
        text-align: right;
    }

    #mobileMenu li li {
        text-align: left;
    }

    #mobileMenu ul ul {
        position: absolute;
        right: 0;
    }

    #menu {
        display: none;
        position: absolute;
        /*top: 111px;*/
        top: 97px;
        z-index: 1;
        background-color: white;
        box-shadow: -5px 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}

.content {
    padding: 1em;
    font-size: larger;
}

#pageTitle {
    margin: 0;
    padding: 1em;
    background-color: #DC291E;
    background-image: url(http://campfire.org/images/red-bg-pattern.jpg);
    color: white;
    text-align: center;
    text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.8);
}

.linkList ul li {
    margin-bottom: 1em;
}

.linkList a {
    display: block;
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    background-color: #FFC700;
    border-radius: 3px;
    box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.linkList a:hover {
	box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.5) inset;
}

@media (max-width: 946px) {
    .linkList a {
        width: 80%;
    }
}

.left {
    float: left;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.right {
    float: right;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

.clear {
    clear: both;
}

main a:link,
main a:visited,
main a:active {
    color: #DC291E;
}

main a:hover {
    text-decoration: none;
}

.content img {
    display: block;
    margin: 1em auto;
    box-shadow: 0 6px 12px 2px rgba(0, 0, 0, 0.5);
}

h1, h2, h3 {
    margin: 1em 0;
    font-family: 'Life Savers', cursive;
    color: #DC291E;
}

p {
    margin-bottom: 1em;
    /*text-indent: 1em;*/
}

.hr-yellow {
    display: block;
    margin: 2em 0;
    width: 100%;
    height: 2px;
    background: url(http://campfire.org/images/hr-yellow.png) repeat-x left center #FFC700;
}

.no-marg {
    margin: 0;
}

input,
textarea {
    font-family: 'Open Sans', sans-serif;
}

footer {
    padding: 1em;
    height: 40px;
    background-color: #DC291E;
    background-image: url(http://campfire.org/images/red-bg-pattern.jpg);
    color: white;
}

footer p {
    float: left;
    line-height: 40px;
    /*text-align: center;*/
}

#socialMedia {
    display: table;
    float: right;
    /*margin: 0 auto;*/
    color: white;
}

#socialMedia li {
    float: left;
}

#socialMedia .fa {
    margin: 1em;
    color: white;
}

#socialMedia a:active .fa,
#socialMedia a:hover .fa {
    color: #FFC700;
}

@media (max-width: 530px) {
    footer p {
        width: 100%;
        text-align: center;
    }

    footer #socialMedia {
        display: none;
    }
}